{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>

    <div class="content-section">
    <p class='text-muted'>Sensego, a predictive marketing solution for travel, media and banking, allows you to predict purchase intentions before all other players as soon as signals are detected on the mobile.
        Our solution provides an improved customer experience and relevant and personalized offers, sent at the most appropriate time.</p>

    <p class='text-muted'>Sensego technology consists of a module that is easy to integrate into mobile applications and allows users to understand in real time the context
        and expectations of the user using the latest machine learning and deep learning techniques.</p>

    <p class='text-muted'>But Sensego is also and above all a growing start-up. Founded more than two years ago, and with a fundraising campaign completed in mid-2018, Sensego is looking for new employees motivated by adventure.
        We are currently a team of 10 people and are looking to expand our team to support our development.</p>



    </div>
{% endblock content %}
